@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-raleway;
  }
  .container {
    @apply max-w-[1600px] w-full px-4 mx-auto;
  }
  /* h1 {
    @apply text-4xl font-[150];
  } */
  h2 {
    @apply text-4xl font-semibold lg:text-4xl;
  }
  h3 {
    @apply text-2xl font-light lg:text-3xl;
  }
  h4 {
    @apply text-base font-semibold lg:text-2xl;
  }
  p {
    @apply text-sm lg:text-[1rem];
  }
  .header__nav {
    @apply flex flex-col gap-5 h-screen w-[100vw] top-[5rem] pt-5 fixed font-semibold duration-700 right-[-100%] lg:flex-row lg:h-auto lg:w-auto lg:static lg:bg-transparent;
  }
  .header__nav.open {
    @apply right-0 z-50 bg-white overflow-y-hidden;
  }
  .toggle__menu {
    @apply flex flex-col gap-1 z-50 relative lg:hidden;
  }
  .toggle__menu span {
    @apply content-["*"] w-10 h-1 ease-in-out duration-700 bg-black;
  }
  .toggle__menu.open span:first-child {
    transform: translate(22px, 0px) rotate(225deg);
    transition: 0.5s ease;
    @apply w-5;
  }
  .toggle__menu.open span:last-child {
    transform: translate(22px, -0.5px) rotate(-225deg);
    transition: 0.5s ease;
    @apply w-5;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 1;
    transform: translate(0.5px, 0) rotate(180deg);
    transition: 0.5s ease;
  }
}

@layer components {
  .btn {
    @apply py-3 px-10 bg-transparent border-transparent rounded-lg;
  }
  .btn.bg-quaternaryy {
    @apply bg-quaternary text-white;
  }
  .btn.bg-quaternaryy--border {
    @apply bg-quaternary text-white border border-black hover:bg-secondary;
  }
  .btn.bg-quinaryy {
    @apply bg-quinary text-white hover:bg-tertiary;
  }
}
